#form-widgets-telephone-AA-widgets-number,#form-widgets-telephone-AA-widgets-type {display:none;}
#content pre.introductory-text {
    background: transparent;
    color: rgb(117, 117, 117);
    font-family:'Gentium Basic', sans-serif;
    font-size:18px;
    line-height:1.5;
    padding-left: 0px;
    /* margin-left: -7px; */
}
button.btn.disabled {
opacity: .2;
}
.reporting-tool-control-panel {
background: #F3F3F3;
display: block;
padding: 20px;
height: auto;
border-radius: 5px;
box-shadow: 1px 1px 1px -1px #888;
}	
/* hide the top menu,not needed for this project */
.super-menu {
display: none;
}
ul.formTabs{margin-top:10px;}
.doc-saved {
    position: fixed;
    display:none;
    z-index: 200;
    top: 0px;
    right: 30px;
    width: 50%;
    font-size: 200%;
}
#form p {
font-size: 20px;
line-height: 1.2;
color: #777;
margin-top: 10px;
background: rgb(234, 234, 234);
padding: 5px;
border: 1px solid #D6D2D2;
}
#form label.horizontal {
margin-top: 16px;
}
#form span.option {
margin-left: 36px;
display: block;
clear: both;
}
[id^=formfield-form-widgets-default_],[id^=formfield-form-widgets-national_],[id^=formfield-form-widgets-designated_focal_point_],
[id^=formfield-form-widgets-if_]{margin-left:20px;}
[id^=formfield-form-widgets-national_],[id^=formfield-form-widgets-designated_focal_point_],
/*[id^=formfield-form-widgets-if_]{display: none}*/
[id^=formfield-form-widgets-default_] label,[id^=formfield-form-widgets-national_] label,[id^=formfield-form-widgets-designated_focal_point_] label,
[id^=formfield-form-widgets-if_] label{font-weight:normal}
a#view,#continue-editing,
.portaltype-unep-cartagenareportingtool-countryreport input.button-field {
float: right;
}
#form-buttons-cancel{display: none}
div#plone-document-byline {
visibility: hidden;
display: none;
}
#content fieldset {
    border: 1px solid #D7DCDE;
    /* border-style: solid none none none; */
    overflow: hidden;
    height: auto;
    margin-top:15px;
}
#content fieldset legend{
    font-weight:bold;
    font-size:20px;
    background:#efefee;
    border:1px solid #eee;
}
table.datagridwidget-table-view .header {
font-weight: normal;
}